* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: radial-gradient(
    at top left,
    rgba(146, 43, 225, 1) 0%,
    rgba(43, 9, 107, 1) 100%
  );
  background-repeat: no-repeat;
}

section {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}

section h1 {
  font-size: 5em;
}

section p {
  padding-top: 5px;
  font-size: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 560px) {
  section h1 {
    font-size: 2.5em;
  }

  section p {
    font-size: 1em;
  }
}
